<!DOCTYPE html>
<html>
<body>
  <h1>Mi cuenta es: <%="#{@suma}"%></h1>
  <form action="/suma" method="get">
    <input type="submit" >
    <input type="hidden" name = "suma"  value=<%="#{@suma}"%>"/ >
  </form>
</body>
</html>
